<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275140757840-ajfq00o5ph1if4ggkkjshr50huk5c7n5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275140757840-ajfq00o5ph1if4ggkkjshr50huk5c7n5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>275140757840-v5cuku8d4ihtgtmaqpr8objpdilgl2c9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDimqrWS8roeCTHbPzRlfJZfOnVrvwFiNE</string>
	<key>GCM_SENDER_ID</key>
	<string>275140757840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ke.co.droidcon22flutter.droidcon2022Flutter</string>
	<key>PROJECT_ID</key>
	<string>droidconke2022-360211</string>
	<key>STORAGE_BUCKET</key>
	<string>droidconke2022-360211.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275140757840:ios:3f34a468b857237739c455</string>
</dict>
</plist>